build/
reference/
.cmake/
.cache/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

data/aperio/CMU-1/image.wsi
data/aperio/CMU-1-JP2K-33005.svs
data/aperio/CMU-1-Small-Region.svs
data/aperio/JP2K-33003-1.svs
data/dlup/slide1.itiff